.header{
    text-align: center;
}
nav {
    display: flex;
    align-items: center;
    
    height: 50px;
    background-color: rgb(177, 234, 211);
}
.navigation-links {
    padding-right: 5px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    color: black;
}
.navigation-links.active{
    background-color: rgb(43, 149, 93);
    color: white
}
input[type='text'], input[type='number'], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block
}
.category-cards{
    border-color: blueviolet;
    border-width: 5px;
}
.moneyPos{
    color: green;
}
.moneyNeg{
    color: red;
}
.goal-box{
    width: 90%;
    height: 20px;
    border-color: black;
    border-width: 5px;
    color: orange;
    border-style: solid; 
}